
<div class="row pt-5">
    <div class="col-md-2 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form (submit)="loginUser($event)" class = "form">
                    <div class="form-group">
                        <label for="">Username</label><br />
                        <input type="text" placeholder="Username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label><br />
                        <input type="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-dark float-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="col-md-6 mx-auto">
        

</div> -->