<div class="row toolbar">
    
    <div class="col-11 no-padding">
        <div class="btn-group">
            <button type="button" class="btn btn-dark btn-sm"> <i class="material-icons">delete</i></button>
            <button type="button" class="btn btn-dark btn-sm"> <i class="material-icons">undo</i> </button>
            <button type="button" class="btn btn-dark btn-sm"> <i class="material-icons">redo</i> </button>
            <button type="button" class="btn btn-dark btn-sm"> <i class="material-icons">zoom_in</i> </button>
            <button type="button" class="btn btn-dark btn-sm"> <i class="material-icons">zoom_out</i> </button>
    </div>
    <div class="col no-padding">
        
    </div>

    </div>
</div>


