<div id="containerParentId" class="row" style="height: 100%;">

    <div class="col no-padding" id="containerId" 
    (drop)="onDrop($event)" 
    (dragover)="onDragOver($event)" 
    (dragleave)="onLeave($event)">

        <div class="vl" id="verticalLine" ></div>

        <div id="divTable" class="tableOnePosition" draggable="true"> </div>

    </div>
</div>







<ng-template #modalView let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span> <!-- Laver krydset i hjørnet -->
        </button>
    </div>


    <div class="modal-body">
        <form (ngSubmit)="onSubmit(tableForm, modal)" #tableForm="ngForm">

            <div class="form-group row justify-content-center">
                <div class="col-8">
                    <label for="tablenumber">Table number:</label>
                    <input type="number" class="form-control"  id="tablenumber"
                     required
                     [(ngModel)]="currentTable.tableNumber" name="tableNumber" #tableNumber="ngModel">
                    <div [hidden]="hideMessageEmpty" class="alert alert-danger">
                        Field is required
                    </div>
                    <div [hidden]="hideMessageDuplicate" class="alert alert-danger">
                        Please enter an unique number
                    </div>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-8">
                    <label for="size">Table size:</label>

                    <select class="form-control" id="size"
                    required
                    [(ngModel)]="currentTable.size" name="size">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-8">
                    <label for="static">Static:</label>

                    <select required class="form-control" id="static"
                    required
                    [(ngModel)]="currentTable.static" name="static">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>

                </div>
            </div>

            <div class="row mt-4 justify-content-center">
                <button type="submit" class=" btn btn-dark pl-4 pr-4">Submit</button>
            </div>


        </form>
    </div>

</ng-template>


