.boundary{
    background-color: aqua;
}

.vl {
    border-left: 3px solid green;
    height: 100%;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 0;
  }

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.no-border{
    border: 0px;
}

.tableOnePosition{
    position: absolute;
    left: 2.2%;
    top: 2.2%;
    width: 60px;
    height: 60px;
    background-color: gray
}

