<div class="row">
    <div class="col-1 no-padding">
        <div style="height: 135px; background-color: red;">
            <img src="../../../assets/Images/table.png" alt="Table">
        </div>
        <div style="height: 135px; background-color: yellow;">

        </div>
        <div style="height: 135px; background-color: green;">

        </div>
        <div style="height: 135px; background-color: blue;">

        </div>
        <div style="height: 135px; background-color: purple;">

        </div>
    </div>

    <div class="col no-padding" style="background-color: grey;">


    </div>
</div>